
%featured-img{
    width: 100%;
    height: auto;
}

%card{
    margin-right: 1em;
}

%flex-card{
    display: flex;
    align-items: stretch;
}

%card-body{
    background-color: var(--white-color);
    padding: 2em 1em;
    margin-bottom: 1em;
}